<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
	<%- include('partials/head') %>
    <!-- /Header -->

<body>  
    <!-- /HeaderNavbar -->
    <%- include('partials/headerNavbar') %>
    <!-- /HeaderNavbar -->
    <div class="contenedor-todo">  
        <form action="/users/register" method="POST">
        <main class="main">
            <!--poner a todo container-->
            <div class="container">
                <div class="error">
                    <%  if (typeof errors != 'undefined') { %>
                
                    <p style="color:red">ERROR</p>
                    <ul>
                        <% errors.forEach(error => { %>
                
                        <li><%= error.msg  %> </li>
                
                        <% }) %>
                
                    </ul>
                </div>
                <%}%>
                <div class="container-all">
                    <section class="register">
                            <div class="container">
                                <h1>Registrate</h1>
                                <p>Por favor completa este formulario para poder completar la registracion.</p>
                                <hr>
                        
                                <label for="email"><b>Email</b></label>
                                <input type="text" placeholder="Email" name="email" id="email" required>
                        
                                <label for="psw"><b>Contrase単a</b></label>
                                <input type="password" placeholder="Contrase単a" name="password" id="psw" required>
                        
                                <label for="psw-repeat"><b>Repite la Contrase単a</b></label>
                                <input type="password" placeholder="Repite Contrase単a" name="retype" id="psw-repeat" required>
                                <hr>
                        
                                <p>Al crear tu cuenta aceptas los Terminos y Condiciones de Pakason</p>
                                <button type="submit" class="registerbtn">Registrarse</button>
                            </div>
                            <div class="container signin">
                                <p>Ya tenias una cuenta? <a href="/users/login">Logeate</a>.</p>
                            </div>
                    </section>
                </div>    
            </div>
            
        
        </main>
    </form>
    </div>
    <script src="scripts/scripts.js"></script>

    <!-- footer -->
	<%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>