.carrito {
  width: 750px;
  height: auto;
  margin: 1px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.titulo {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.product {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  border-bottom: 1px solid #E1E8EE;
}

.delete {
  padding-top: 30px;
  margin-right: 60px;
}


.bx{
  display: inline-block;
  Cursor: pointer;
  width: 18px;
  height: 17px;
}

.imagen {
  margin-right: 50px;
  height: 5rem;
}

.precio {
  width: 83px;
  padding-top: 27px;
  text-align: right;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.nombre {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

/*total*/
.h2-total{
  color: #43484D;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 150px;
}
/*button-purchase*/
.button-purchase{
  padding: 13px 32px 12px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 115px;
}

@media only screen and (max-width: 900px) {
  .carrito {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .product {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .imagen img {
    width: auto;
  }
  .imagen,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .delete {
    margin-right: 20px;
  }

  .titulo{
    text-align: center;
  }

  .texto{
    margin-left: 0;
    margin-right: 0;
  }

  .precio{
    text-align: center;
  }
  
}